
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<div>
    <input id="TextLogin" type="text" />
    <input id="TextPass" type="text" />
    <input id="ButtonLogin" type="button" value="button" />
</div>
